.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 146px;
    
  &__title {
    width: 350px;
    height: 24px;
    margin: 20px 0 8px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  &__text {
    width: 246px;
    height: 22px;
    margin: 8px 51px 18px 63px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: white;
  }

  &__button {
    width: 119.4px;
    height: 25px;
    margin: 3px 0 0 18px;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: white;
    background-color: #8176af;
    text-transform: uppercase;
    border-radius: 20px;
  }
}

.preview {
  height: 307px;
  overflow: hidden;
  z-index: 0;
  &__image {
    height: 307px;
    z-index: 1;
  }
}
.autor {
  height: 214px;
  width: 302px;
  background-color: white;
  padding: 22.4px 8.6px 34.5px 9.8px;
  border-radius: 20px;
  z-index: 5;
}