@import '../core/var';

.get-avatar__label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: initial;
  color: $white;
  background-color: $dark-lilac;
  height: 31px;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: bold;
  font-family: $font-M;
  padding: 0 8px;
  @media screen and (min-width: 768px) {
    font-size: 1.1rem;
  }
}
