/* colors */
$white-50: rgba(255, 255, 255, 0.5);
$black-80: rgba(0, 0, 0, 0.8);
$greyish-brown: #505050;
$greyish-brown-88: rgba(62, 62, 62, 0.88);
$greyish-brown-two: #575757;
$dark: #302c42;
$warm-grey: #909090;
$white: #fff;
$dark-lilac: #8176af;
$dusk: #403a5f;

/* fonts */
$font-C: 'Catamaran', sans-serif;
$font-M: 'Montserrat', sans-serif;
$font-P: 'Poppins', sans-serif;